{{ if .Site.Params.enableGoogleMaps }}
{{ if isset .Site.Params "latitude" }}
{{ if isset .Site.Params "longitude" }}
<!--div class="hidden">
    <input id="gmap-lat" value="{{ .Site.Params.latitude }}" />
    <input id="gmap-lng" value="{{ .Site.Params.longitude }}" />
    <input id="gmap-marker" value="{{ "img/marker.png" | relURL }}" />
    {{ if isset .Site.Params "direction" }}
    <input id="gmap-dir" value="{{ .Site.Params.direction }}" />
    {{ else }}
    <input id="gmap-dir" value="{{ .Site.Params.latitude }},{{ .Site.Params.longitude }}" />
    {{ end }}
    </div>
    <div id="map" /!-->
            <iframe id="gmap" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7977.538841712503!2d103.886352!3d1.313825!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc215873926af312d!2z5aO55Y-35YWs6aaG!5e0!3m2!1sen!2ssg!4v1661057509735!5m2!1sen!2ssg" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        {{ end }}
        {{ end }}
        {{ end }}
